* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 22px;
}

body {
  min-height: 100vh;
  font-family: "Playwrite ES Deco", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.background-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-image: url(img/anete-lusina-2JknzBYDu6k-unsplash.jpg);
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;  
 
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  width: 100%; 
  max-width: 500px;
  margin: auto;
}

header {
  width: 100%;
  background-color: #f18681; 
  opacity: 80%;
  color: #cf0508;
  padding: 10px 0; 
  text-align: center; 
  position: fixed; 
  top: 0; 
  left: 0; 
  z-index: 1000;
  
}

main {
  width: 120%;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
  cursor: pointer; 
  text-align: center;
  background-color: #f18681; 
  opacity: 80%;
  border-radius: 10px;
  margin-bottom: 60px;
}



footer {
  width: 100%;
  background-color: #f18681; 
  opacity: 80%;
  color: #cf0508;
  padding: 10px 0; 
  text-align: center; 
  position: fixed; 
  bottom: 0; 
  left: 0; 
  z-index: 1000;
}

ul {
  width: 100%;
  list-style: none;
  padding: 0 0.25rem 0.25rem;
}

ul li::before {
  content: "\200B";
}

.item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  
  padding: 0.5rem 0 0.5rem 0.5rem;
  margin: 0.25rem 0;
  background-color: #eee;
}

.item:first-child {
  margin: 0;
}

.item input[type="checkbox"] {
  text-align: center;
  width: 2.5rem;
  width: 48px;
  min-width: 48px;
  height: 2.5rem;
  height: 48px;
  min-height: 48px;
  cursor: pointer;
  color: #cf0508;
  margin-right: 0.5rem;
}

.item input[type="checkbox"]:focus + label {
  text-decoration: underline;
}

.item > label {
  font-size: 0.75rem;
  flex-grow: 1;
}

.item svg {
  width: 48px;
  min-width: 48px;
  height: 36px;
  font-size: 1rem;
  color: #cf0508;
  cursor: pointer;
}

.item svg:focus, 
.item svg:hover {
  color: red;
  outline: none;
}

.addForm {
  padding: 20px;
  margin: 100px;
  margin-bottom: 10px;
  width: 120%;
  height: 10vh; 
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid gray;
  border-radius: 10px;
  background-color: #f18681;
  opacity: 80%;
}

.addForm label {
  position: absolute;
  left: -99999px;
}

.addForm input[type='text'] {
  flex-grow: 1;
  max-width: calc(100% - 50px);
  min-height: 48px;
  font-size: 1rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  margin-right: 0.25rem;
  outline: none;
  opacity: 80%;
}

button {
  height: 48px;
  min-width: 48px;
  border-radius: 0.25rem;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: aliceblue;
  color: #cf0508;
  cursor: pointer;
}

button:focus, 
button:hover {
  color: white;
  background-color: #cf0508;
  outline: none;
}

.searchForm {
  width: 120%;
  display: flex;
  justify-content: flex-start;
  margin: 10px;
  padding: 20px; 
  background-color: #f18681;
  border-radius: 10px;
  opacity: 80%;
}

.searchForm label {
  position: absolute;
  left: -99999px;
}

.searchForm input[type='text'] {
  flex-grow: 1;
  max-width: 100%;
  min-height: 48px;
  font-size: 1rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  opacity: 80%;
  outline: none;
}

span{
  font-size:200px; 
}











